
.fqa__accordion {
  margin: 0 auto 0 auto;

  & & {
    width: 90%;
    margin: 0 auto;
  }

  &-element:last-child {
    margin-bottom: 0;
  }

  &-element {
    margin-bottom: 34px;
    padding: 10px;
  }

  &-element.is-active > &__button {
    opacity: 0.5;
  }

  &-button {
    width: 100%;
    padding: 10px;

    text-transform: uppercase;

    cursor: pointer;
  }

  &-wrapper {
    padding: 10px;
  }
}
