.advantage {
  padding: 108px 0 122px 0;
  background-color: $color-additional-background;

  @include vp-1199 {
    padding: 92px 0 92px 0;
  }

  @include vp-767 {
    padding: 63px 0 70px 0;
  }
}

.advantage__title {
  margin: 0 0 43px 0;
  text-align: center;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 42px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 52px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.advantage__wrapper-dscription {
  display: grid;
  grid-template-columns: 460px 240px 460px;
  grid-template-rows: auto auto;

  @include vp-1199 {
    grid-template-columns: 50% 50%;
    grid-template-rows: 120px 239px 111px;
    justify-items: center;
  }
}

.advantage__wrapper-list {
  @include list-style;

  @include vp-1199 {
    padding: 0;
  }

  @include vp-767 {
    flex-wrap: wrap;
  }
}

.advantage__wrapper-list--first {
  @include vp-1199 {
    grid-column: 1 /2;
    grid-row: 1 / 5;
  }
}

.advantage__wrapper-list--second {
  @include vp-1199 {
    grid-column: 2 /3;
    grid-row: 1 / 5;
  }
}

.advantage__wrapper-item {
  display: flex;
  margin: 0 60px;

  &:first-child {
    padding-bottom: 75px;
    margin-bottom: 70px;
    border-bottom: 2px solid $color-advantage-border;
  }

  @include vp-1199 {
    margin: 0;

    &:first-child {
      padding-bottom: 0;
      margin-bottom: 323px;
      border-bottom: none;
    }
  }

  @include vp-767 {
    flex-basis: 100%;
    flex-wrap: wrap;

    &:first-child {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}

.advantage__wrapper-item--second {
  @include vp-1199 {
    padding-left: 15px;
  }
}

.advantage__item-value {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 71px;
  font-weight: 700;
  line-height: 100%;
  background: $gradient-additional-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  @include vp-1199 {
    font-size: 58px;
  }
}

.advantage__item-property {
  color: $color-advantage-property;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.advantage__item-wrapper-title {
  padding: 0 0 0 30px;

  @include vp-767 {
    padding: 0 46px;
    width: 100%;
    text-align: center;
  }
}

.advantage__item-title {
  margin: 0 0 7px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  padding-top: 5px;

  @include vp-1199 {
    margin: 0 0 2px 0;
    font-size: 20px;
    padding-top: 0;
  }
}

.advantage__item-description {
  margin: 0;
  line-height: 140%;
}

.advantage__wrapper-pivotal {
  padding: 55px 34px 65px 34px;
  background: $gradient-advantage;
  margin: 12px 0 0 0;

  @include vp-1199 {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 34px 34px 0 34px;
    width: 65.2%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.advantage__pivotal-number {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: $color-default-white;
  font-size: 74px;
  font-weight: 700;
  line-height: 100%;

  @include vp-1199 {
    margin-bottom: 5px;
  }
}

.advantage__pivotal-title {
  margin: 0 0 39px 0;
  text-align: center;
  color: $color-default-white;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;

  @include vp-1199 {
    margin: 0 0 19px 0;
    font-size: 22px;
  }
}

.advantage__pivotal-text {
  margin: 0;
  color: $color-default-white;
  text-align: center;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    max-width: 172px;
    text-align: center;
    display: flex;
    margin: 0 auto;
  }
}

.advantage__item-value--block {
  padding-left: 19px;

  @include vp-1199 {
    padding-left: 0;
  }
}

.advantage__item-wrapper-value {
  @include vp-767 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}