.coach {
  padding: 0 0 105px 0;
  overflow: hidden;

  @include vp-1199 {
    padding: 0 0 100px 0;
  }

  @include vp-767 {
    padding: 0 0 70px 0;
  }
}

.coach__title {
  margin: 0 0 48px 0;
  text-align: left;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 31px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 42px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}
