.comments {
  padding: 120px 0 120px 0;

  @include vp-1199 {
    padding: 91px 0 100px 0;
  }

  @include vp-767 {
    padding: 63px 0 58px 0;
  }
}

.comments__title {
  margin: 0 0 37px 0;
  text-align: center;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 40px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 42px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}
