.comments {
  padding: 120px 0 121px 0;
}

.comments__title {
  margin: 0 0 37px 0;
  text-align: center;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}