.competitions {
  padding: 0 0 106px 0;

  @include vp-1199 {
    padding: 0 0 101px 0;
  }

  @include vp-767 {
    padding: 70px 0 63px 0;
  }
}

.competitions__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include vp-1199 {
    align-items: stretch;
  }
}

.competitions__wrapper-information {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 85px 79px 86px 78px;
  background-color: $color-banners;

  @include vp-1199 {
    width: 43.07%;
    justify-content: flex-start;
    padding: 49px 45px 49px 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 51px 44px 51px 44px;
    justify-content: center;
  }
}

.competitions__title {
  width: min-content;
  font-family: $ff-alumniSans;
  font-size: 82px;
  font-weight: 600;
  line-height: 96%;
  letter-spacing: 2.46px;
  color: $color-default-white;
  margin: 0;
  padding-left: 16px;

  @include vp-1199 {
    font-size: 48px;
    letter-spacing: 1.44px;
    padding-left: 7px;
    padding-top: 3px;
    text-indent: 3px;
  }
}

.competitions__wrapper-description {
  padding-left: 55px;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: $color-default-white;

  @include vp-1199 {
    padding-left: 31px;
    line-height: 11px;
    padding-top: 3px;
  }
}

.competitions__descriptuon-date {
  width: 64px;
  padding-bottom: 9px;
  border-bottom: 1px solid $color-default-white;
  margin: 0;

  @include vp-1199 {
    font-size: 12px;
    padding-bottom: 3px;
    padding-top: 1px;
    width: 42px;
  }
}

.competitions__date-text {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0 20px 0;

  @include vp-1199 {
    margin: 0 0 10px 0;
    font-size: 24px;
  }
}

.competitions__date-number {
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 5px 0 0;

  @include vp-1199 {
    font-size: 24px;
    margin: 3px 3px 0 0;
  }
}

.competitions__date-month {
  width: min-content;
  font-size: 14px;

  @include vp-1199 {
    font-size: 10px;
    padding-top: 3px;
  }
}

.competitions__descriptuon-time {
  width: 88px;
  margin: 0;
  padding-bottom: 11px;
  border-bottom: 1px solid $color-default-white;

  @include vp-1199 {
    width: auto;
    font-size: 12px;
    padding-bottom: 4px;
  }
}

.competitions__time-text {
  margin: 5px 0 0 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 100%;

  @include vp-1199 {
    font-size: 24px;
    margin: 2px 0 0 0;
  }
}

.competitions__kind {
  margin: 20px 0 42px 3px;
  color: $color-default-white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    font-size: 12px;
    width: 100%;
    margin: 8px 0 27px 0;
  }
}

.competitions__link {
  width: 100%;
  padding: 25px 0;
  text-align: center;
  color: $color-default-white;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  border: 4px solid $color-default-white;

  @include vp-1199 {
    font-size: 10px;
    letter-spacing: 0.5px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 40px;
    padding: 0;
  }
}

.competitions__wrapper-image {
  @include vp-1199 {
    width: 56.93%;
  }

  @include vp-767 {
    width: 100%;
    height: 292px;
  }
}

.competitions__wrapper-image img {
  @include vp-767 {
    height: 100%;
  }

  @include vp-767 {
    height: 292px;
  }
}

.competitions__wrapper-title {
  @include vp-767 {
    margin-right: auto;
  }
}
