.contacts {
  @include gradient-contact;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contacts__wrapper-form {
  width: 50%;
  padding: 56px 170px 61px 0;
  color: $color-default-white;

  @include vp-1199 {
    width: 100%;
    padding: 65px 118px 70px 88px;
  }

  @include vp-767 {
    width: 100%;
    padding: 67px 0 66px 0;
  }
}

.contacts__wrapper-contacts {
  width: 50%;
  padding: 47px 0 61px 120px;
  color: $color-text-default;
  display: flex;
  flex-wrap: wrap;

  @include vp-1199 {
    width: 100%;
    padding: 65px 118px 59px 88px;
  }

  @include vp-767 {
    padding: 68px 0 60px 0;
  }
}

.contacts__form-title {
  margin: 0 0 22px 0;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 2.22px;

  @include vp-1199 {
    margin: 0 0 40px 0;
    font-size: 42px;
    letter-spacing: 1.46px;
    line-height: 100%;
  }

  @include vp-767 {
    margin: 0 0 41px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts__form-container form {
  display: flex;
  flex-wrap: wrap;

  @include vp-1199 {
    width: 100%;
  }
}

.contacts__field-name {
  width: 205px;
  display: flex;
  padding-right: 15px;

  @include vp-1199 {
    width: 50%;
    padding-right: 30px;
  }

  @include vp-767 {
    width: 100%;
    padding-right: 0;
    margin-bottom: 36px;
  }
}

.contacts__field-phone {
  width: 205px;
  display: flex;
  padding-left: 15px;

  @include vp-1199 {
    width: 50%;
    padding-left: 30px;
  }

  @include vp-767 {
    width: 100%;
    padding-left: 0;
  }
}

.contacts__field-name input {
  width: 205px;
  background: none;
  border: none;
  border-bottom: 1px solid $color-input-border;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $color-default-white;
  transition: border-bottom, color, outline $trans-default;
  padding-bottom: 5px;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:hover::placeholder {
    color: $color-default-white;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    border-bottom: none;
  }

  &:focus-visible::placeholder {
    opacity: 0;
  }

  @include vp-1199 {
    width: 100%;
    padding-bottom: 5px;
  }
}

.contacts__field-phone input {
  width: 205px;
  background: none;
  border: none;
  border-bottom: 1px solid $color-input-border;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  color: $color-default-white;
  transition: border-bottom, color, outline $trans-default;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:hover::placeholder {
    color: $color-default-white;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
    border-bottom: none;
  }

  &:focus-visible::placeholder {
    opacity: 0;
  }

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    padding-bottom: 4px;
  }
}

.contacts__form-submit {
  width: 100%;
  height: 55px;
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $color-default-white;
  background: none;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  @include vp-767 {
    margin-top: 38px;
  }
}

.contacts__wrapper-contacts ul:first-of-type {
  @include list-style;
  width: calc(50% + 4px);
  // border-right: 1px solid $color-input-border;
  padding-left: 3px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 102px;
    right: 0;
    top: 3px;
    background-color: $color-input-border;
  }

  @include vp-1199 {
    width: 56.7%;

    &::after {
      height: 129px;
    }
  }

  @include vp-767 {
    width: 100%;
    padding-right: 0;
    margin-bottom: 20px;
    border-right: none;
  }
}

.contacts__wrapper-contacts ul:last-child {
  @include list-style;
  width: calc(50% - 4px);
  padding-left: 60px;

  @include vp-1199 {
    padding-left: 48px;
    width: 43.3%;
  }

  @include vp-767 {
    padding-left: 0;
    width: 100%;
  }
}

.contacts__wrapper-contacts h2 {
  width: 100%;
  margin: 0 0 32px 0;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 800;
  line-height: 156%;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 42px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
    line-height: 100%;
  }

  @include vp-767 {
    margin: 0 0 41px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts__item {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__item h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 0 8px 0;

  @include vp-1199 {
    margin: 0 0 13px 0;
    font-size: 20px;
  }
}

.contacts__item-link h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  margin: 0 0 8px 0;

  @include vp-1199 {
    margin: 0 0 13px 0;
    font-size: 20px;
  }
}

.contacts__item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 152.34%;
  margin: 0 0 0 0;

  @include vp-1199 {
    font-size: 18px;
    word-spacing: 0.7px;
  }
}

.contacts__item-link {
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__item-link a {
  font-size: 14px;
  font-weight: 400;
  line-height: 152.34%;
  display: flex;

  @include vp-1199 {
    font-size: 18px;
  }
}
