.footer {
  padding: 41px 0 42px 0;
  background-color: $color-footer;

  @include vp-1199 {
    padding: 44px 0 44px 0;
  }

  @include vp-767 {
    padding: 50px 0 51px 0;
  }
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    justify-content: start;
  }
}

.footer__nav-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    display: grid;
    grid-template-columns: 55.19% 44.81%;
    grid-template-rows: 40px 40px 20px;
    width: 100%;
  }
}

.footer__nav-item {
  margin-right: 42px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1199 {
    margin-right: 32px;
  }

  @include vp-767 {
    margin-right: 0;
  }
}

.footer__nav-item--subscription {
  @include vp-767 {
    grid-column-start: 1;
  }
}

.footer__nav-item--stock {
  @include vp-767 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    padding-left: 55.19%;
  }
}

.footer__nav-item--coach {
  @include vp-767 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
  }
}

.footer__nav-item--schedule {
  @include vp-767 {
    grid-column-start: 2;
    grid-row-start: 3;
  }
}

.footer__nav-item-link {
  color: $color-default-white;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  transition: border-bottom $trans-default;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus-visible {
    outline: 1px solid $color-default-white;
  }

  &:disabled {
    opacity: 0.4;
  }

  @include vp-767 {
    font-size: 16px;
  }
}

.footer__social-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  padding-right: 2px;
}

.footer__social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;

  &:last-child {
    margin-right: 0;
  }
}

.footer__wrapper-logo {
  display: flex;
  align-items: center;

  @include vp-767 {
    width: 100%;
  }
}

.footer__icon-background {
  transition: fill $trans-default;
}

.footer__icon-path {
  transition: fill $trans-default;
}

.footer__social-link {
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;


  &:hover .footer__icon-background {
    fill: $color-additional-accent;
  }

  &:hover .footer__icon-path {
    fill: $color-default-white;
  }

  &:focus-visible .footer__icon-background {
    fill: $color-additional-accent;
  }

  &:focus-visible .footer__icon-path {
    fill: $color-default-white;
  }

  &:focus-visible {
    outline: none;
  }

  &:active .footer__icon-background {
    fill: $color-text-default;
  }

  &:active .footer__icon-path {
    fill: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.footer__nav {
  @include vp-1199 {
    margin: 0 auto 0 62px;
  }

  @include vp-767 {
    width: 100%;
    margin: -20px 0 38px 0;
  }
}

.footer__link-logo {
  padding-top: 10px;

  @include vp-1199 {
    padding-top: 0;
  }
}
