.fqa {
  padding: 120px 0 115px 0;
  background-color: $color-additional-background;

  @include vp-1199 {
    padding: 100px 0 46px 0;
  }

  @include vp-767 {
    padding: 70px 0 0 0;
  }
}

.fqa__accordion {
  margin: 0 auto 0 auto;
  padding-left: 40px;

  @include vp-1199 {
    padding-left: 0;
  }

  @include vp-767 {
    margin: 0;
  }
}


.fqa__title {
  margin: 0 0 37px 0;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 39px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 28px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.fqa__tabs {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;

  @include vp-767 {
    height: 675px;
  }
}

.fqa__tabs-controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 260px;
  padding: 1px 0 0 1px;

  @include vp-1199 {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1px 1px 39px 1px;
  }

  @include vp-767 {
    flex-wrap: wrap;
    gap: 8px;
    padding: 1px 1px 29px 1px;
  }
}

.fqa__tabs-control {
  margin: 0 0 10px 0;
  padding: 18px 106px 18px 107px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  outline: 1px solid $color-button-fqa;
  border: none;
  opacity: 1;
  transition: outline $trans-default;
  background: $color-transparent;

  &:hover {
    outline: 1px solid $color-text-default;
  }

  &:focus-visible {
    outline: 1px solid $color-text-default;
  }

  &:disabled {
    color: $color-button-fqa;
  }

  @include vp-1199 {
    margin: 0;
    padding: 0;
    width: 160px;
    height: 54px;
    align-items: center;
  }

  @include vp-767 {
    flex-basis: calc(50% - 5px);
    font-size: 16px;
    height: 44px;
  }
}

.fqa__tabs-content {
  width: 900px;

  @include vp-1199 {
    width: 100%;
  }

  @include vp-767 {
    height: 549px;
  }
}

.fqa__tabs-control.is-active {
  background: $gradient-fill-button;
  color: $color-default-white;
}

.fqa__accordion-element {
  padding: 27px 0 23px 0;
  margin: 0;
  border-bottom: 1px solid $color-fqa-border;

  &.is-active .fqa__accordion-button {
    background-color: $color-advantage-pivotal;
  }

  &.is-active .fqa__accordion-button-plus {
    display: none;
  }

  &:not(.is-active) .fqa__accordion-button-minus {
    display: none;
  }

  &:first-child {
    border-top: 1px solid $color-fqa-border;
  }

  @include vp-1199 {
    padding: 25px 0 24px 0;

    &:last-child {
      padding-bottom: 23px;
    }
  }

  @include vp-767 {
    padding: 20px 0 19px 0;

    &:last-child {
      padding: 20px 0 18px 0;
    }
  }
}

.fqa__accordion-wrapper-title {
  display: flex;
  align-items: center;
}

.fqa__accordion-button {
  width: 41px;
  height: 41px;
  border: 1px solid $color-advantage-pivotal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  transition: background-color, stroke $trans-default;
  background-color: $color-transparent;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 2px;

  &:hover {
    background-color: $color-advantage-pivotal;
  }

  &:hover .fqa__accordion-button-plus-color {
    stroke: $color-default-white;
  }

  &:focus-visible {
    background-color: $color-advantage-pivotal;
  }

  &:focus-visible .fqa__accordion-button-plus-color {
    stroke: $color-default-white;
  }

  &:active {
    background-color: $color-advantage-pivotal;
  }

  &:active .fqa__accordion-button-plus-color {
    stroke: $color-default-white;
  }

  &:disabled {
    opacity: 0.3;
  }

  @include vp-1199 {
    width: 42px;
    height: 42px;
    margin-right: 0;
  }

  @include vp-767 {
    width: 32px;
    height: 32px;
  }
}

.fqa__accordion-button-plus {
  display: block;

  @include vp-767 {
    width: 12px;
    height: 12px;
  }
}

.fqa__accordion-wrapper-title p {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  word-spacing: 2px;

  @include vp-1199 {
    max-width: 85%;
    word-spacing: 2.5px;
    line-height: 120%;
  }

  @include vp-767 {
    max-width: 74%;
    font-size: 18px;
    word-spacing: 2px;
  }
}

.fqa__accordion-wrapper p {
  margin: 8px 0 0 0;
  font-size: 18px;
  line-height: 140%;
  max-width: 660px;

  @include vp-1199 {
    max-width: 82%;
  }

  @include vp-767 {
    margin: 12px 0 0 0;
    font-size: 16px;
    max-width: 95%;
  }
}

.fqa__accordion-wrapper {
  padding: 0;
}

.fqa__tabs-element {
  width: 100%;
}

.fqa__accordion-title.fqa__accordion-title--mobile {
  @include vp-767 {
    max-width: 242px;
  }
}

.fqa__accordion-button-minus {
  @include vp-767 {
    width: 12px;
  }
}
