.header {
  padding-top: 30px;
  z-index: 1;

  @include vp-1199 {
    padding-top: 40px;
  }

  @include vp-767 {
    padding-top: 20px;
  }
}

.header__wrapper {
  display: flex;
}

.header__wrapper-logo {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header__telephon {
  color: $color-default-white;
  font-family: $ff-alumniSans;
  font-size: 26px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.78px;

  @include vp-1199 {
    font-size: 24px;
    letter-spacing: 0.48px;
  }

  @include vp-767 {
    font-size: 20px;
    letter-spacing: 0.4px;
  }
}
