.information {
  padding: 120px 0;

  @include vp-1199 {
    padding: calc(104px + (120 - 104) * ((100vw - 768px) / (1199 - 768))) 0 calc(100px + (120 - 100) * ((100vw - 768px) / (1199 - 768))) 0;
  }

  @include vp-767 {
    padding: 65px 0;
  }
}

.information__wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 114px;

  @include vp-1199 {
    padding-bottom: 83px;
  }

  @include vp-767 {
    padding-bottom: 3px;
  }
}

.information__wrapper-description {
  padding: 43px 85px 0 59px;

  @include vp-1199 {
    width: 100%;
    padding: 0;
  }

  @include vp-1199 {
    padding: 0 15px 0 15px;
  }
}

.information__wrapper-description h2 {
  margin: 0 0 12px 0;
  font-family: $ff-alumniSans;
  font-size: 48px;
  font-weight: 600;
  line-height: 103%;
  letter-spacing: 1.44px;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    margin: 0 0 4px 0;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin: 0 0 7px 0;
    text-align: left;
  }
}

.information__wrapper-description h3 {
  margin: 0 0 40px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;

  @include vp-1199 {
    text-align: center;
    margin: 0 0 34px 0;
  }

  @include vp-767 {
    text-align: left;
    margin: 0 0 23px 0;
  }
}

.information__wrapper-description p {
  width: 355px;
  margin: 0;

  @include vp-1199 {
    text-align: center;
    margin: 0 auto 42px auto;
    width: 512px;
  }

  @include vp-767 {
    text-align: left;
    margin: 0 0 32px 0;
    padding-right: 32px;
    width: 100%;
  }
}

.information__wrapper-description p:not(:first-of-type) {
  display: flex;
  margin: 7px 0 0 0;

  @include vp-1199 {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    white-space: nowrap;

    border: 0;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
  }
}

.information__wrapper-image {
  flex-basis: 56.9%;

  @include vp-1199 {
    flex-basis: 100%;
  }

  @include vp-767 {
    margin-bottom: 38px;
  }
}

.information__wrapper-image img {
  @include vp-1199 {
    width: 100%;
    height: 100%;
  }

  @include vp-767 {
    max-width: 450px;
    margin: 0 auto;
  }
}

.information__video-link img {
  @include vp-1199 {
    width: 100%;
    height: 100%;
  }
}

.information__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  border: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: none;
}

.information__wrapper-image-preview {
  position: relative;
  background-color: $color-video-background;

  @include vp-767 {
    height: 167px;
    max-width: 450px;
    margin: 0 auto;
  }
}

.information__wrapper-video {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-40%);

  @include vp-1199 {
    transform: translateX(-50%);
  }

  @include vp-767 {
    position: static;
    transform: translateX(0);
    width: 100%;
  }
}

.information__wrapper-video--enabled {
  cursor: pointer;
}

.information__wrapper-video--enabled .information__play-button {
  display: block;
}

.information__video {
  border: none;

  @include vp-1199 {
    width: 266px;
    height: 167px;
  }

  @include vp-1199 {
    width: 100%;
    height: 167px;
  }
}

.information__icon-button {
  @include vp-1199 {
    transform: scale(0.73);
  }
}
