.stock {
  padding: 135px 0 120px 0;

  @include vp-1199 {
    padding: 91px 0 60px 0;
  }

  @include vp-767 {
    padding: 63px 0 71px 0;
  }
}

.stock__title {
  margin: 0 0 33px 0;
  text-align: center;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 38px 0;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 42px 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.stock__wrapper-overall {
  display: flex;
  flex-wrap: wrap;
}

.stock__wrapper-unlimited {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  padding-right: 20px;

  @include vp-1199 {
    flex-basis: 100%;
    padding-right: 0;
    margin-bottom: 30px;
  }
}

.stock__wrapper-list {
  width: 50%;
  padding-left: 20px;

  @include vp-1199 {
    width: 100%;
    padding-left: 0;
  }
}

.stock__wrapper-information {
  flex-basis: 50%;
  padding: 40px 45px 45px 45px;
  background-color: $color-banners;
  color: $color-default-white;
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    flex-basis: 41.15%;
  }

  @include vp-767 {
    flex-basis: 100%;
    padding: 40px 50px 43px 50px;
  }
}

.stock__information-year {
  display: flex;
  width: 100%;
  margin-bottom: 4px;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;

  @include vp-767 {
    justify-content: center;
    margin-bottom: 2px;
  }
}

.stock__information-number {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;

  @include vp-767 {
    text-align: center;
  }
}

.stock__information-text {
  margin: 19px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  word-spacing: 2px;

  @include vp-767 {
    margin: 15px 0 0 0;
    text-align: center;
  }
}

.stock__information-link {
  display: flex;
  margin-top: auto;
  padding-bottom: 3px;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  position: relative;
  width: max-content;

  &::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-default-white;
  }

  @include vp-767 {
    margin: 30px auto 0 auto;
    justify-content: center;
    padding-bottom: 1px;

    &::after {
      left: 50%;
      transform: translateX(-50%);
      background-color: $color-default-white;
    }
  }
}

.stock__list {
  @include list-style;

  @include vp-1199 {
    display: flex;
    gap: 30px;
  }

  @include vp-767 {
    flex-wrap: wrap;
  }
}

.stock__list-item {
  height: 211px;
  padding: 24px 28px 28px 28px;
  border: 7px solid;
  border-image: $gradient-fill-button;
  border-image-slice: 1;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-bottom: 40px;
  }

  @include vp-1199 {
    flex-basis: 50%;
  }

  @include vp-767 {
    flex-basis: 100%;
    padding: 36px 42px 40px 42px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;

    &:first-child {
      margin-bottom: 0;
    }
  }
}

.stock__list-item h3 {
  margin: 0 0 10px 0;
  color: $color-advantage-pivotal;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;

  @include vp-767 {
    width: 100%;
  }
}

.stock__list-item p {
  margin: 0;
  color: $color-advantage-pivotal;
  font-weight: 400;
  line-height: 140%;
  word-spacing: 3px;

  @include vp-767 {
    margin: 0 0 24px 0;
    width: 100%;
  }
}

.stock__list-item:first-child p {
  @include vp-1199 {
    max-width: 163px;
  }

  @include vp-767 {
    max-width: max-content;
  }
}

.stock__item-text--discount {
  word-spacing: 2px;
}

.stock__list-item a {
  margin-top: auto;
  color: $color-advantage-pivotal;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding-bottom: 2px;
  position: relative;
  width: max-content;

  &::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-advantage-pivotal;
  }

  @include vp-767 {
    display: flex;
    width: 100%;
    justify-content: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.stock__wrapper-image {
  @include vp-1199 {
    flex-basis: 58.85%;
  }

  @include vp-767 {
    flex-basis: 100%;
  }
}

.stock__wrapper-image img {
  @include vp-1199 {
    width: 100%;
  }
}
