.stock {
  padding: 135px 0 120px 0;
}

.stock__title {
  margin: 0 0 34px 0;
  text-align: center;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}

.stock__wrapper-overall {
  display: flex;
  flex-wrap: wrap;
}

.stock__wrapper-unlimited {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  padding-right: 20px;
}

.stock__wrapper-list {
  width: 50%;
  padding-left: 20px;
}

.stock__wrapper-information {
  width: 50%;
  padding: 45px;
  background-color: $color-banners;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
}

.stock__information-year {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  line-height: 100%;
}

.stock__information-number {
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.stock__information-text {
  margin: 35px 0 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.stock__information-link {
  display: flex;
  margin-top: auto;
  padding-bottom: 5px;
  color: $color-default-white;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 79px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-default-white;
  }
}

.stock__list {
  @include list-style;
}

.stock__list-item {
  height: 211px;
  padding: 28px;
  border: 7px solid;
  border-image: $gradient-fill-button;
  border-image-slice: 1;
  display: flex;
  flex-direction: column;

  &:first-child {
    margin-bottom: 40px;
  }
}

.stock__item-title {
  margin: 0 0 20px 0;
  color: $color-advantage-pivotal;
  font-size: 26px;
  font-weight: 700;
  line-height: 100%;
}

.stock__item-text {
  margin: 0;
  color: $color-advantage-pivotal;
  font-weight: 400;
  line-height: 140%;
}

.stock__item-link {
  margin-top: auto;
  color: $color-advantage-pivotal;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding-bottom: 5px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 68px;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-advantage-pivotal;
  }
}