.subscription {
  padding: 125px 0 244px 0;
  background-image: url("../img/chips.png"), linear-gradient(180deg, #f8f9fc 0, #f8f9fc 849px, #ffffff 850px, #ffffff 100%);
  background-position: bottom -30px right calc(50% - 630px), 0 0;
  background-size: 471px 494px, auto;
  background-repeat: no-repeat, no-repeat;

  @include vp-1199 {
    padding: calc(104px + (120 - 104) * ((100vw - 768px) / (1199 - 768))) 0 calc(200px + (240 - 200) * ((100vw - 768px) / (1199 - 768))) 0;
    background-image: url("../img/chips.png"), linear-gradient(180deg, #f8f9fc 94.7%, #ffffff 6.3%);
    background-size: 425px 435px, auto;
    background-position: bottom -23px right calc(50% - 250px), 0 0;
  }

  @include vp-767 {
    padding: 63px 0 69px 0;
    background-image: none, linear-gradient(180deg, #f8f9fc 100%, #ffffff 0);
  }
}

.subscription__title {
  text-align: center;
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: 103%;
  letter-spacing: 1.62px;
  margin: 0 0 20px 0;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
    margin: 0 0 23px 0;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
    margin: 0 0 22px 0;
    padding-top: 5px;
  }
}
