.swiper-comments {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  position: static;
  width: 560px;
  color: $color-default-white;

  @include vp-1199 {
    width: 566px;
  }

  @include vp-767 {
    width: 226px;
  }
}

.swiper-comments__slide {
  padding: 61px 60px 55px 62px;
  background-color: $color-advantage-pivotal;

  @include vp-1199 {
    padding: 62px 65px 55px 65px;
    word-spacing: 1px;
  }

  @include vp-767 {
    padding: 40px 25px 32px 25px;
  }
}

.swiper-comments__button-next {
  left: 244px;

  @include vp-1199 {
    left: calc(50% - 340px);
  }

  @include vp-767 {
    left: calc(50% - 145px);
    top: calc(50% - 6px);
    font-size: 20px;
  }
}

.swiper-comments__button-prev {
  right: 244px;

  @include vp-1199 {
    right: calc(50% - 340px);
  }

  @include vp-767 {
    right: calc(50% - 145px);
    top: calc(50% - 6px);
    font-size: 20px;
  }
}

.swiper-comments__wrapper-image {
  display: flex;
  flex-wrap: wrap;
}

.swiper-comments__wrapper-description {
  width: 356px;
  padding-left: 28px;

  @include vp-767 {
    margin-top: -60px;
    padding-left: 0;
  }
}

.swiper-comments__wrapper-description p:first-child {
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 70%;

  @include vp-767 {
    display: flex;
    width: 77px;
    margin: 0 0 22px auto;
    padding-left: 0;
    line-height: 130%;
  }
}

.swiper-comments__wrapper-description p:last-child {
  margin: 0;
  font-weight: 400;
  line-height: 140%;
  word-spacing: 1px;

  @include vp-767 {
    text-align: center;
  }
}

.swiper-comments__wrapper-image img {
  @include vp-767 {
    margin-left: 15px;
  }
}
