.swiper-slide__wrapper-image {
  position: relative;

  &::after {
    content: attr(data-name);
    position: absolute;
    width: max-content;
    top: 251px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    color: $color-default-white;
    transition: display $trans-default;
  }

  &:hover .swiper-slide__wrapper-description {
    display: block;
  }

  &:hover::after {
    opacity: 0;
  }

  @include vp-1199 {
    &::after {
      top: 249px;
    }

    &:active .swiper-slide__wrapper-description {
      display: block;
    }
  }

  @include vp-767 {
    height: 274px;

    &::after {
      top: 244px;
    }
  }
}

.swiper-slide__wrapper-description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 56px 45px 58px 45px;
  background-color: $color-slide-hover;
  transition: display $trans-default;
  display: none;

  @include vp-767 {
    padding: 46px 25px 46px 25px;
  }
}

.swiper-slide__wrapper-description p {
  margin: 0 0 2px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: $color-default-white;
}

.swiper-slide__wrapper-description ul {
  @include list-style;
}

.swiper-slide__wrapper-description li {
  margin-bottom: 12px;
  position: relative;
  padding-left: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 9px;
    top: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $color-default-white;
  }
}

.swiper__slide-button-prev {
  left: -56px;
  color: $color-slider-button;

  @include vp-1199 {
    left: calc(50% - 342px);
  }

  @include vp-767 {
    left: calc(50% - 145px);
  }
}

.swiper__slide-button-next {
  right: -56px;
  color: $color-slider-button;

  @include vp-1199 {
    right: calc(50% - 342px);
  }

  @include vp-767 {
    right: calc(50% - 145px);
  }
}

.swiper-slide__wrapper-image img {
  @include vp-1199 {
    width: 100%;
    height: 292px;
  }

  @include vp-767 {
    width: 100%;
    height: 100%;
  }
}

.swiper-slide__wrapper-description span {
  color: $color-coach;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  display: block;
  margin-bottom: 32px;
}

.swiper-slide__description-item p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $color-default-white;
  text-align: left;
}
