.tabs {
  max-width: 100%;
}

.tabs__controls {
  display: flex;
  justify-content: space-between;
  width: 341px;
  margin: 0 auto 37px auto;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    background-color: $color-border;
  }

  @include vp-1199 {
    width: 329px;
    margin: 0 auto 43px auto;
  }

  @include vp-767 {
    margin: 0 auto 34px auto;
    width: 100%;
  }
}

.tabs__control {
  cursor: pointer;
  justify-content: center;
  width: max-content;
  border: none;
  background-color: $color-additional-background;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding: 0 0 12px 0;
  border-bottom: 2px solid $color-transparent;
  color: $color-tabs;

  &.is-active {
    pointer-events: none;
    color: $color-text-default;
    border-bottom: 2px solid $color-border-tab;
  }

  @include vp-1199 {
    font-size: 18px;
    padding: 0 0 10px 0;
  }

  @include vp-767 {
    font-size: 16px;
    min-width: 60px;
    text-align: left;
    padding: 0 0 12px 0;

    &:nth-child(2) {
      min-width: 69px;
      padding-right: 7px;
    }

    &:last-child {
      min-width: 77px;
      padding-right: 4px;
    }
  }
}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__element-list {
  @include list-style;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(1, 442px);
    justify-content: center;
    column-gap: 0;
    row-gap: 41px;
  }

  @include vp-767 {
    row-gap: 35px;
  }
}

.tabs__element-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-default-white;
  padding: 60px 0 62px 0;
  border: 4px solid $color-default-white;

  &:hover {
    border: 4px solid;
    border-image: $gradient-fill-button;
    border-image-slice: 1;
  }

  &:hover .tabs__item-link {
    background: $gradient-fill-button;
    color: $color-default-white;
    outline: none;
  }

  @include vp-1199 {
    padding: 59px 0 59px 0;
  }

  @include vp-767 {
    padding: 46px 0 48px 0;
  }
}

.tabs__item-title {
  width: 100%;
  margin: 0 0 12px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;

  @include vp-767 {
    margin: 0 0 9px 0;
    font-size: 22px;
  }
}

.tabs__item-description {
  width: 100%;
  margin: 0 0 42px 0;
  text-align: center;
  font-weight: 400;
  line-height: 150%;

  @include vp-767 {
    margin: 0 0 22px 0;
    color: $color-card;
  }
}

.tabs__item-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  color: $color-additional-accent;
  font-size: 60px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 48px;

  &::after {
    content: attr(data-price);
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-number;
    font-size: 100px;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.47;
  }

  @include vp-767 {
    margin-bottom: 36px;

    &::after {
      font-size: 80px;
      top: -10px;
    }
  }
}

.tabs__item-price {
  margin-right: 14px;
  z-index: 1;

  @include vp-767 {
    font-size: 48px;
    margin-right: 11px;
  }
}

.tabs__price-icon {
  z-index: 1;

  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.tabs__item-link {
  padding: 27px 42px 28px 43px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 100%;
  outline: 2px solid $color-text-default;

  @include vp-767 {
    width: 206px;
    padding: 27px 0 28px 0;
    justify-content: center;
    display: flex;
  }
}
