.tabs {
  max-width: 100%;
}

.tabs__controls {
  display: flex;
  justify-content: space-between;
  width: 341px;
  margin: 0 auto 39px auto;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    background-color: $color-border;
  }

  @include vp-1199 {
    margin: 0 auto 45px auto;
  }
}

.tabs__control {
  cursor: pointer;
  justify-content: center;
  width: max-content;
  border: none;
  background-color: $color-additional-background;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
  padding: 0 0 18px 0;
  border-bottom: 2px solid $color-transparent;
  color: $color-tabs;

  &.is-active {
    pointer-events: none;
    color: $color-text-default;
    border-bottom: 2px solid $color-border-tab;
  }

  @include vp-1199 {
    font-size: 18px;
  }
}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__element-list {
  @include list-style;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @include vp-1199 {
    grid-template-columns: repeat(1, 442px);
    justify-content: center;
    row-gap: 40px;
  }
}

.tabs__element-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color-default-white;
  padding: 64px 73px;
  border: 4px solid $color-default-white;

  &:hover {
    border: 4px solid;
    border-image: $gradient-fill-button;
    border-image-slice: 1;
  }
}

.tabs__item-title {
  width: 100%;
  margin: 0 0 22px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  line-height: 110%;
}

.tabs__item-description {
  width: 100%;
  margin: 0 0 59px 0;
  text-align: center;
  font-weight: 400;
  line-height: 150%;
}

.tabs__item-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  color: $color-additional-accent;
  font-size: 60px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 59px;

  &::after {
    content: attr(data-price);
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-number;
    font-size: 100px;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.47;
  }
}

.tabs__item-price {
  margin-right: 14px;
  z-index: 1;
}

.tabs__price-icon {
  z-index: 1;
}

.tabs__item-link {
  padding: 24px 42px 24px 43px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  line-height: 100%;
  border: 2px solid $color-text-default;
}
