@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/robotoCondensed-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/robotoCondensed-Light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Roboto Condensed";
  font-display: swap;
  src: url("../fonts/robotoCondensed-Bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Alumni Sans";
  font-display: swap;
  src: url("../fonts/alumniSans-SemiBold.woff2") format("woff2");
}
