@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

@mixin text-h2 {
  font-family: $ff-alumniSans;
  font-size: 82px;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;
  @content;
}

@mixin text-h3 {
  font-family: $ff-alumniSans;
  font-size: 54px;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;
  @content;
}

@mixin text-h4 {
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  @content;
}

@mixin text-h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  @content;
}

@mixin text-h6 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  @content;
}

@mixin text-h7 {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  @content;
}

@mixin text-large {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  @content;
}

@mixin text-small {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  @content;
}

@mixin text-tabs-lined {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  @content;
}

@mixin text-tabs-button {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-transform: uppercase;
  @content;
}

@mixin text-button-large {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  @content;
}

@mixin text-button-regular {
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  @content;
}

@mixin list-style {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1200 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-768 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

@mixin vp-320 {
  @media (max-width: ($vp-320 - 1px)) {
    @content;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта