// Colors


// Default

$color-text-default: #102654;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue: #2c39f2;
$color-torch-red: #ff1553;
$color-additional-accent: #103AAE;
$color-additional-background: #F8F9FC;
$color-banners: #ED0233;
$color-footer: #030A1A;
$color-border: rgba(120, 120, 120, 0.20);
$color-number: #E8E8E8;
$color-border-tab: #D10A42;
// Gradient

$gradient-additional-gradient: linear-gradient(129deg, #D10A42 0%, #0041CA 100%);
$gradient-fill-button: linear-gradient(151deg, #ED0233 0%, #003EB7 100%);
$gradient-main-block: conic-gradient(from 151deg at 16.03% 39.06%, #003D85 32.23633825778961deg, #B80027 313.3060026168823deg);

// Typography

$ff-alumniSans: "Alumni Sans", "Arial", sans-serif;
$ff-roboto-condensed: "Roboto Condensed", "Arial", sans-serif;

// переменная используемая в html для подключения скейлинга

$fz-default: 16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble: "Rouble", "Arial", sans-serif;


// Animation
// ---------------------------------

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600: 0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;